@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");



.container {
  width: 88vw;
  margin: 0 auto;
  display: flex;
  padding: 0.8rem;
}
.item-description button {
  background: none;
}
.product-image {
  width: 65%;
  position: relative;
  margin-top: 3.5rem;
}
.product-image img {
  position: absolute;
  width: 87%;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}

.right {
  width: 35%;
  margin-top: 3.5rem;
}
.product-description {
  margin-bottom: 2rem;
}
.product-description span.type {
  color: #358ed7;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.item-description button {
  padding: 0.7rem 0.5rem;
  border-radius: 1.5rem;
  font-family: inherit;
  background: none;
}
.product-description p {
  font-size: 1.25rem;
  font-weight: 300;
  color: #86939e;
  line-height: 5rem;
}

.price {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.Quantity-modifier button {
  padding: 0.2rem 0.8rem;
  border-radius: 2.5rem;
  cursor: pointer;
  display: inline;
}
.Quantity-modifier button:hover {
  color: #099;
  transform: scale(1.1);
}
.Quantity-modifier input {
  padding: 0.2rem 0;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-align: center;
}
.add-cart button {
  margin-top: 3rem;
  display: inline-block;
  background: grey;
  color: white;
  border-radius: 1.75rem;
  border: 1px solid black;
  padding: 0.8rem 5rem;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.6s ease;
}
.add-cart button:hover {
  background-color: rgb(0, 153, 13);
  transform: scale(1.1);
}
.back-aisle {
  margin-left: 2rem;
  line-height: 3rem;
  margin-top: 3rem;
}
@media screen and (max-width: 1000px) {
 
  .container {
    display: block;
  }
  .product-image {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
  }

  .right {
    position: relative;
    top: 37rem;
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width: 792px) {

  .container {
    display: block;
  }
  .product-image {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
  }

  .right {
    position: relative;
    top: 30rem;
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width: 590px) {
 
  .container {
    display: block;
  }
  .product-image {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
  }

  .right {
    position: relative;
    top: 25rem;
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  
  .container {
    display: block;
  }
  .product-image {
    width: 100%;
    height: 50%;
    margin: 5rem auto;
    display: block;
    position: relative;
  }

  .right {
    position: relative;
    display: inline-block;
    width: 100%;
  }
}